body {
    background-image: url(../Images/Workshop2.jpg);
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.wrapper {
    width: 50%;
}
